<% title "Auctions" %>

<table>
  <tr>
  <% for auction in @auctions %>
    <tr>
      <td><%= link_to auction.title, auction %></td>
      <td><%=h auction.end_time %></td>
      <td><%=h auction.rrp %></td>
      <td><%=h auction.start_price %></td>
      <td><%=h auction.fixed_price %></td>
      <td><%=h auction.minimum_price %></td>
      <td><%=h auction.autobid %></td>
      <td><%=h auction.extend_enabled %></td>
      <td><%=h auction.status_id %></td>
      <td><%= link_to "Edit", edit_auction_path(auction) %></td>
      <td><%= link_to "Destroy", auction, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Auction", new_auction_path %></p>

