<% title "Auction" %>

<h2><%=h @auction.title %></h2>
<p>
  <%= link_to "Edit", edit_auction_path(@auction) %> |
  <%= link_to "Destroy", @auction, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", auctions_path %>
</p>

<p>
  <strong>Category:</strong>
  <%=h @auction.category_id %>
</p>

<p>
  <strong>Description:</strong>
  <%=raw @auction.description %>
</p>

<p>
  <strong>Start Time:</strong>
  <%=h @auction.start_time %>
</p>
<p>
  <strong>End Time:</strong>
  <%=h @auction.end_time %>
</p>
<p>
  <strong>Rrp:</strong>
  <%=h @auction.rrp %>
</p>
<p>
  <strong>Start Price:</strong>
  <%=h @auction.start_price %>
</p>
<p>
  <strong>Featured:</strong>
  <%=h @auction.featured %>
</p>
<p>
  <strong>Delivery Cost:</strong>
  <%=h @auction.delivery_cost %>
</p>
<p>
  <strong>Delivery Information:</strong>
  <%=h @auction.delivery_information %>
</p>
<p>
  <strong>Peak Only:</strong>
  <%=h @auction.peak_only %>
</p>
<p>
  <strong>Fixed Price:</strong>
  <%=h @auction.fixed_price %>
</p>
<p>
  <strong>Minimum Price:</strong>
  <%=h @auction.minimum_price %>
</p>
<p>
  <strong>Time Extended:</strong>
  <%=h @auction.time_extended %>
</p>
<p>
  <strong>Time Before Extended:</strong>
  <%=h @auction.time_before_extended %>
</p>
<p>
  <strong>Autobid:</strong>
  <%=h @auction.autobid %>
</p>
<p>
  <strong>Autobid Limit:</strong>
  <%=h @auction.autobid_limit %>
</p>
<p>
  <strong>Current Limit:</strong>
  <%=h @auction.current_limit %>
</p>
<p>
  <strong>Extend Enabled:</strong>
  <%=h @auction.extend_enabled %>
</p>
<p>
  <strong>Winner:</strong>
  <%=h @auction.winner_id %>
</p>
<p>
  <strong>Status:</strong>
  <%=h @auction.status_id %>
</p>
<p>
  <strong>Closed:</strong>
  <%=h @auction.closed %>
</p>

<p>
  <%= link_to "Edit", edit_auction_path(@auction) %> |
  <%= link_to "Destroy", @auction, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", auctions_path %>
</p>

