<p>
  <b>User:</b>
  <%=h @address.user_id %>
</p>

<p>
  <b>Address type:</b>
  <%=h @address.address_type_id %>
</p>

<p>
  <b>Name:</b>
  <%=h @address.name %>
</p>

<p>
  <b>Address:</b>
  <%=h @address.address %>
</p>

<p>
  <b>Suburb:</b>
  <%=h @address.suburb %>
</p>

<p>
  <b>City:</b>
  <%=h @address.city %>
</p>

<p>
  <b>Postcode:</b>
  <%=h @address.postcode %>
</p>

<p>
  <b>State:</b>
  <%=h @address.state %>
</p>

<p>
  <b>Country:</b>
  <%=h @address.country_id %>
</p>

<p>
  <b>Phone:</b>
  <%=h @address.phone %>
</p>


<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>