<h1>Editing gender</h1>

<% form_for(@gender) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @gender %> |
<%= link_to 'Back', genders_path %>